@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #3b82f6;
  transition: all 0.3s ease;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #2563eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* { 
  transition-property: var(--background), var(--accent), color, fill, stroke;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Utility classes for background and text colors */
  .bg-primary {
    background-color: var(--background);
  }

  .text-primary {
    color: var(--foreground);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }

  /* .typing-cursor {
    display: inline-block;
    width: 0.4em;
    height: 1em;
    background-color: currentColor;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
  } */
  @keyframes blink {
    0%, 100% { opacity: 1;}
    50% {opacity: 0; }
  }
}
